@page "/{RoomId:int}"

@using Roomz.Services;
@using Roomz.Data;

@inject ITableChangeBroadcastService ScheduleService
@implements IDisposable
@inherits OwningComponentBase<ScheduleService>
@*List of todays upcoming reservations for chosen room*@
<div class="d-flex justify-content-between">
    <div class="btn-group">
        @* Sends user to room details based on all room.Id, updates Room Id + Room Name*@
        <NavLink href="@($"/0")" @onclick="@( e => UpdateRoom(0, "Alla"))" class="btn btn-dark pull-right btn-outline-info text-blue">Alla</NavLink>
    </div>
    @foreach (var roomInd in roomsList)
    {
        <div class="btn-group">
            @* Sends user to room details based on room.Id, updates Room Id + Room Name*@
            <NavLink href="@($"/{roomInd.Id}")" @onclick="@( e => UpdateRoom(roomInd.Id, roomInd.Name))" class="btn btn-dark pull-right btn-outline-info text-blue">@roomInd.Name</NavLink>
        </div>
    }
</div>

<div><br /><br /></div>

@*<EditForm Model="@objScheduleDate" OnValidSubmit="@ValidSubmit1">

        <div class="col-4">Datum att radera (Funktion ej implementerad)</div>
        <div class="col-8">
            <select @onchange="DateSelectionChanged" class="form-control">
                @foreach (var dateInd in SelectScheduleDates)
                {
                    <option value="@dateInd.Id">
                        @dateInd.AppointmentDateStart.ToShortDateString()
                    </option>
                }
            </select>
            <div class="row py-2">
                <div class="offset-4 col">
                    <button class="btn btn-primary form-control" type="submit">Confirm</button>
                    <button class="btn btn-warning form-control" type="button" @onclick="@( e => DeleteSchedules(objScheduleDate.AppointmentDateStart.ToShortDateString()))">Confirm Delete</button>

                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </EditForm>*@


    <div class="col-8">
        <div>
            <select id="selectDelDate" class="form-control" @bind="changedDate">

                <option value="" selected>Välj datum att radera</option>
                @foreach (var dateInd in SelectScheduleDates)
                {
                    <option value="@dateInd.AppointmentDateStart.ToShortDateString()">
                        @dateInd.AppointmentDateStart.ToShortDateString()
                    </option>

                }
            </select>
        </div>
        <div class="row py-2">
            <div class="offset-4 col">
                @*<button class="btn btn-primary form-control" type="submit">Confirm</button>*@
                <button class="btn btn-warning form-control" type="button" @onclick="@( e => DeleteSchedules(changedDate))">Confirm Delete</button>

            </div>
            <div class="col">
            </div>
        </div>
    </div>



@*Header with Room Id | Name (Left) and Present Time (RIGHT)*@
<div class="d-flex justify-content-between">
    <div class="p-2"><h3 class="text-info">@thisRoomId | @thisRoomName</h3></div>
    <div class="p-2"><h3 class="text-info">@DateTime.Now</h3></div>
</div>

@*List of todays upcoming reservations for chosen room*@
<table class="table table-striped table-dark">
    <thead class="thead-dark">
        <tr>
            @if (RoomId != 0)
            {
                <th scope="col"> </th>
                <th scope="col">Datum</th>
            }
            else
            {
                <th scope="col">Rum</th>
                <th scope="col">Datum</th>
            }
            <th scope="col"><br />Start</th>
            <th scope="col"><br />Slut</th>
            <th scope="col"><br />Bokare</th>
            <th scope="col"><br />Rubrik</th>
            <th scope="col"><br />Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in schedules)
        {
            if (RoomId == 0)
            {
                <tr>
                    <td scope="col">@schedule.RoomName</td>
                    <td scope="col">@schedule.AppointmentDateStart.ToShortDateString()</td>
                    <td scope="col">@schedule.AppointmentDateStart.ToShortTimeString()</td>
                    <td scope="col">@schedule.AppointmentDateEnd.ToShortTimeString()</td>
                    <td scope="col">@schedule.BookerEmail</td>
                    <td scope="col">@schedule.AppointmentHeading</td>
                    <td></td>
                </tr>
            }
            else
            {
                if (schedule.RoomId == RoomId)
                {
                    <tr>
                        <td scope="col"> </td>
                        <td scope="col">@schedule.AppointmentDateStart.ToShortDateString()</td>
                        <td scope="col">@schedule.AppointmentDateStart.ToShortTimeString()</td>
                        <td scope="col">@schedule.AppointmentDateEnd.ToShortTimeString()</td>
                        <td scope="col">@schedule.BookerEmail</td>
                        <td scope="col">@schedule.AppointmentHeading</td>
                        <td></td>
                    </tr>
                }
            }

        }
    </tbody>
</table>

<div class="copyright">&copy; Copyright @DateTime.Now.Year, Powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</div>

@*  @if (ShowPopup)
    {
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <EditForm Model="@objSchedule" OnValidSubmit="@ValidSubmit2">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-info">Edit Reservation</h3>
                            <button type="button" class="close" @onclick="ClosePopup">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-9">
                                    <div class="row py-2">*@
@*droplist was here*@
@*                                    </div>
        <div class="row py-2">
        <div class="offset-4 col"><button class="btn btn-primary form-control" type="submit">Confirm</button></div>
        <div class="col"><button class="btn btn-danger form-control" @onclick=DeleteSchedules>DELETE</button></div>
    </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </EditForm>
        </div>
        }*@

@code{
    IList<Schedule> schedules;

    Schedule objScheduleDate = new Schedule();

    List<Schedule> SelectScheduleDates;

    //bool ShowPopup = false;

    List<Room> roomsList;
    Room room = new Room();

    [Parameter] public int thisRoomId { get; set; } = 0;
    [Parameter] public string thisRoomName { get; set; }
    [Parameter] public int deleteScheduleDate { get; set; }
    [Parameter] public string changedDate { get; set; }

    [Parameter] public int RoomId { get; set; }

    DateTime AppStart = DateTime.Now;


    private void UpdateRoom(int _roomId, string _roomName)
    {
        thisRoomId = _roomId;
        thisRoomName = _roomName;

    }

    void DeleteSchedules(string changedDate)
    {
        //ShowPopup = false;       
        var result = @Service.DeleteSchedulesFromDate(changedDate);
        schedules.Clear();
        schedules = @Service.GetSchedules();
    }

    //private void DeleteSchedules(string dtEnd)
    //{
    //    //deleteScheduleDate = dtEnd;

    //    DateTime _dtEnd;
    //    if (DateTime.TryParse(dtEnd, out _dtEnd))
    //    {
    //        var result = @Service.DeleteSchedulesFromDate(_dtEnd);

    //        schedules.Clear();
    //        schedules = Service.GetSchedules();

    //        if (result)
    //        {
    //            this.ShouldRender();
    //        }
    //    }
    //}

    //EventCallback
    protected override void OnInitialized()
    {
        //Get room name from RoomId
        room = Service.GetRoom(RoomId);
        roomsList = Service.GetRooms();
        SelectScheduleDates = Service.GetSchedules();

        //Show correct room name at page load
        thisRoomId = room.Id;
        thisRoomName = room.Name;

        // Subscription to table record change
        this.ScheduleService.OnScheduleChanged += this.ScheduleChanged;
        this.schedules = this.ScheduleService.GetCurrentValues();
    }

    private async void ScheduleChanged(object sender, ScheduleChangeEventArgs args)
    {
        var recordToupdate = this.schedules.FirstOrDefault(x => x.AppointmentDateStart == args.NewValue.AppointmentDateStart);
        if (recordToupdate == null)
        {
            this.schedules.Add(args.NewValue);
        }
        else
        {
            recordToupdate.AppointmentHeading = args.NewValue.AppointmentHeading;
        }

        await InvokeAsync(() =>
        {
            base.StateHasChanged();
        });
    }

    @*void EditSchedule(Schedule schedule)
    {
        objSchedule = schedule;
        SelectScheduleDates = Service.GetSchedules();
        //objSchedules = Service.GetSchedules();
        ShowPopup = true;
    }*@

public void Dispose()
{
    this.ScheduleService.OnScheduleChanged += this.ScheduleChanged;
}

//void ClosePopup()
//{
//    // Close popup
//    ShowPopup = false;
//}

void ValidSubmit1()
{
    changedDate = objScheduleDate.AppointmentDateStart.ToShortDateString();

    //ShowPopup = false;
    //objSchedule = Service.GetSchedules();
    var result = @Service.DeleteSchedulesFromDate(changedDate);
    schedules.Clear();
    schedules = @Service.GetSchedules();
}

@*void ValidSubmit2()
{
    //var result = false;
    ShowPopup = false;
    //result = Service.ConfirmSchedule(objSchedule);
    //schedules = Service.GetSchedules();

    //if (objScheduleDate.Id > 0)
    //{
    //    result = Service.UpdateSchedule(objScheduleDate);
    //}
    //else
    //{
    //    result = Service.CreateSchedule(objScheduleDate);
    //}
    var result = @Service.DeleteSchedulesFromDate(objSchedule);
    schedules.Clear();
    schedules = @Service.GetSchedules();
}*@

void DateSelectionChanged(ChangeEventArgs e)
{
    if (int.TryParse(e.Value.ToString(), out int id))
    {
        objScheduleDate.Id = id;
    }
}
}
