@page "/reservation"
@using Roomz.Data
@using Roomz.Services
@using BlazorInputFile
@using System.IO

@inherits OwningComponentBase<ScheduleService>


@if (schedules == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container border p-3">
        <div class="row">
            <div class="col-5">
                <h3 class="text-info">Schedules</h3>
            </div>
        </div>
        <div class="row pt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        @*<th>Confirmed</th>*@
                        <th>Room</th>
                        <th>Reservation Date</th>
                        <th>Reservation Start</th>
                        <th>Reservation End</th>
                        <th>Booked by</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var schedule in schedules)
                    {
                    <tr>
                        <td>@schedule.Room.Name</td>
                        <td>@schedule.AppointmentDateStart.ToShortDateString()</td>
                        <td>@schedule.AppointmentDateStart.ToShortTimeString()</td>
                        <td>@schedule.AppointmentDateEnd.ToShortTimeString()</td>
                        <td>@schedule.Booker.LastName, @schedule.Booker.FirstName</td>
                        <td>@schedule.Booker.Email</td>
                        <td>
                            <button class="btn btn-primary" style="width:150px" @onclick="(()=> EditSchedule(schedule))">
                                Edit
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@if (ShowPopup)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <EditForm Model="@objSchedule" OnValidSubmit="@ValidSubmit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-info">Edit Reservation</h3>
                        <button type="button" class="close" @onclick="ClosePopup">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="row">
                            <div class="col-9">
                                <div class="row py-2">
                                    <div class="col-4">First Name</div>
                                    <div class="col-8"><input class="form-control" type="text" @bind="@objSchedule.Booker.FirstName" readonly /></div>
                                </div>
                                <div class="row py-2">
                                    <div class="col-4">Last Name</div>
                                    <div class="col-8"><input class="form-control" type="text" @bind="@objSchedule.Booker.LastName" readonly />
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col-4">Customer Email</div>
                                    <div class="col-8"><input class="form-control" type="text" @bind="@objSchedule.Booker.Email" readonly />
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col-4">Reservation Date</div>
                                    <div class="col-8"><input class="form-control" type="text" value="@objSchedule.AppointmentDateStart.ToShortDateString()" />
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col-4">Reservation Start</div>
                                    <div class="col-8"><input class="form-control" type="text" value="@objSchedule.AppointmentDateStart.ToShortTimeString()" />
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col-4">Reservation End</div>
                                    <div class="col-8"><input class="form-control" type="text" value="@objSchedule.AppointmentDateEnd.ToShortTimeString()" />
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col-4">Room</div>
                                    <div class="col-8">
                                        @*<input class="form-control" type="text" @bind="@objSchedule.Room.Name" />*@
                                        <select @onchange="RoomSelectionChanged" class="form-control">
                                            @foreach (var roomInd in rooms)
                                            {
                                                <option value="@roomInd.Id" selected="@(roomInd.Id==objRoom.Id? true: false)">
                                                    @roomInd.Name
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col-4">
                                        Reserved
                                    </div>
                                    <div class="col-8">
                                        @*<input type="checkbox" class="form-control" checked="@objSchedule" @bind="objSchedule" />*@
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="offset-4 col">
                                        <button class="btn btn-primary form-control" type="submit">Confirm</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger form-control" @onclick="DeleteSchedule">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-3">
                                <img src="@convertImageToDisplay(objSchedule.Room.Image)" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
}

@code {
    List<Schedule> schedules;
    List<Room> rooms;
    Room objRoom = new Room();

    Schedule objSchedule = new Schedule();

    bool ShowPopup = false;

    protected override void OnInitialized()
    {
        // Get current schedule
        schedules = Service.GetSchedules();
        rooms = Service.GetRooms();

    }

    void EditSchedule(Schedule schedule)
    {
        objSchedule = schedule;
        //schedules = Service.GetSchedules();
        rooms = Service.GetRooms();
        ShowPopup = true;
    }

    void DeleteSchedule()
    {
        ShowPopup = false;
        var result = @Service.DeleteSchedule(objSchedule);
        schedules.Clear();
        schedules = @Service.GetSchedules();
    }

    void ClosePopup()
    {
        ShowPopup = false;
    }

    void ValidSubmit()
    {
        var result = false;
        ShowPopup = false;
        //result = Service.ConfirmSchedule(objSchedule);
        //schedules = Service.GetSchedules();

        if (objSchedule.Id > 0)
        {
            result = Service.UpdateSchedule(objSchedule);
        }
        else
        {
            result = Service.CreateSchedule(objSchedule);
        }
    }

    void RoomSelectionChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int id))
        {
            objSchedule.RoomId = id;
        }
    }

}
